.courses-block {
  border-radius: 32px;
  background-color: $gray-background2;
  padding: fluid(32, 95) fluid(24, 50);

  @media(max-width: 767px) {
    padding: 32px 24px;
    border-radius: 16px;
  }

  .courses-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: fluid(32, 64);

    div {
      display: flex;
      column-gap: 24px;

      .btn-primary {
        height: fit-content;
        margin: auto 0;
      }
    }

    .courses-text-mobile {
      display: none;
    }

    a {
      height: fit-content;
      margin: auto 0;
    }

    @media(max-width: 1600px) {
      margin-bottom: 40px;
    }

    @media(max-width: 1099px) {
      flex-direction: column;
      margin-bottom: 32px;

      div {
        flex-direction: column;
        row-gap: 12px;
        margin-bottom: 0;

        .courses-text-mobile {
          display: block;
          font-weight: 400;
          margin-bottom: 0;
        }
      }

      a {
        display: none;
      }
    }
  }

  .courses-product-list {
    .products-grid {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 8px;
      margin-bottom: fluid(28, 70);

      .course-product-card {
        width: calc(25% - 6px);
      }
    }

    @media(max-width: 1600px) {
      .products-grid {
        .course-product-card {
          width: calc(25% - 6px);
        }
      }
    }

    @media(max-width: 1099px) {
      .products-grid {
        .course-product-card {
          width: calc((100% / 3) - 6px);
        }
      }
    }

    @media(max-width: 991px) {
      .products-grid {
        .course-product-card {
          width: calc(50% - 6px);
        }
      }
    }

    @media(max-width: 767px) {
      .products-grid {
        .course-product-card {
          margin-right: 4px;
        }
      }

      .products-grid {
        margin-bottom: 28px;
      }
    }
  }

  .courses-text {
    position: relative;
    display: flex;
    justify-content: flex-end;

    p {
      max-width: 1000px;
      width: 100%;
      text-align: right;
      font-size: fluid(14, 24);
      line-height: normal;
      font-weight: 300;
    }

    .btn-mobile {
      display: none;
    }

    .slider-nav {
      display: none;
    }

    @media(max-width: 1600px) {
      p {
        font-size: 20px;
      }
    }

    @media(max-width: 1099px) {
      display: flex;
      justify-content: flex-start;

      p {
        display: none;
      }

      .btn-mobile {
        display: block;
      }
    }

    @media(max-width: 767px) {
      .slider-nav {
        display: block;
      }
    }
  }
  @media(max-width: 767px){
    width: 100vw !important;
    margin-left: -24px;
  }
}





.slider-nav{
  .slick-prev{
    position: absolute;
    bottom: 0px;
    top: unset;
    display: block;
    width: 70px;
    height: 70px;
    background: transparent !important;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
    right: 120px;
    left: unset;
    border: 1px solid black;

    &:before {
      content: "";
      background-image: url('./images/arrow-black.svg');
      width: 20px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 10px);
      transition: transform 0.3s ease;
      transform: rotate(225deg) scale(1.1);
    }

    &:hover{
      background-color: white;
    }

    &:hover:before {
      background-image: url('./images/arrow-black.svg');
    }
    @media(max-width: 767px){
      width: 30px;
      height: 30px;
      &:before{
        width: 9px;
        height: 8px;
        top: calc(50% - 4px);
        left: calc(50% - 4.5px);
      }
    }
    @media(max-width: 1600px){
      width: 40px;
      height: 40px;
      right: 70px;
    }
    @media(max-width: 767px){
      width: 32px;
      height: 32px;
      right: 60px;
      bottom: -10px;
    }
  }

  .slick-next{
    position: absolute;
    bottom: 0px;
    top: unset;
    display: block;
    width: 70px;
    height: 70px;
    background: transparent !important;
    font-size: 0px;
    line-height: 0px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
    right: 33px;
    left: unset;
    border: 1px solid black;

    &:before {
      content: "";
      background-image: url('./images/arrow-black.svg');
      width: 20px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 10px);
      transition: transform 0.3s ease;
      transform: rotate(45deg) scale(1.1);
    }

    &:hover{
      background-color: white;
    }

    &:hover:before {
      background-image: url('./images/arrow-black.svg');
    }
    @media(max-width: 767px){
      width: 30px;
      height: 30px;
      &:before{
        width: 9px;
        height: 8px;
        top: calc(50% - 4px);
        left: calc(50% - 4.5px);
      }
    }
    @media(max-width: 1600px){
      width: 40px;
      height: 40px;
      right: 20px;
    }
    @media(max-width: 767px){
      width: 32px;
      height: 32px;
      right: 10px;
      bottom: -10px;
    }
  }
}
