$primary: #76DA43;
$blue: #6EC5E9;
$white: #F5F5F5;
$black: #151515;
$green-accent: #59C378;
$green-menthol: #B3F4D3;
$border-color: #FFFFFF80;
$gray-background: #FFFFFF1A;
$gray-background2: #F3F3F3;
$gray: #F6F6F6;
